:root {
  --body-font: 'Quicksand', sans-serif;
  --background: #16161a;
  --secondary-background: #242629;
  --highlight: #7f5af0;
  --highlight-alt: #6342c5;
  --paragraph: #94a1b2;
  --main: #fffffe;
  --secondary: #72757e;
  --tertiary: #2cb67d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 67.5%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 24px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main);
}

body {
  font-family: var(--body-font);
  background-color: var(--background);
  font-size: 1.6rem;
  color: var(--main);
}

/* * header */

.header__menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 0 12px;
  margin-bottom: 24px;
}

.header__menu-container img {
  cursor: pointer;
}

.header__list {
  overflow: hidden;
  position: absolute;
  top: 40px;
  right: 100%;
  bottom: 0;
  left: -100%;
  transition: .6s ease;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 20px;
  padding: 12px;
  padding-bottom: 0;
  background-color: var(--background);
}

.header__list--toggle {
  left: 0;
  right: 0;
}

.header__list-item {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin: 0 12px;
  height: 40px;
  border-bottom: 1px solid var(--secondary-background);
}

.header__list-item img {
  width: 24px;
}

.header__list-item a:hover,
.header__list-item img {
  color: var(--highlight);
  fill: var(--highlight);
}

/* * Home */

main {
  margin: 0 24px;
}

.home {
  height: 90vh;
}

.home__title {
  margin-bottom: 12px;
}

.home__img-container {
  width: 100%;
  max-width: 400px;
  margin-bottom: 24px;
}

.home__img {
  width: 100%;
}

.button {
  padding: 4px 8px;
  border-radius: 6px;
  background-color: var(--highlight);
}

.button--flex {
  display: inline-flex;
  align-items: center;
  height: 40px;
}

.button .arrow-right {
  transition: .3s;
}

.button:hover {
  background-color: var(--highlight-alt);
}

.button:hover .arrow-right {
  transform: translateX(4px);
}

/* * About */

.about {
  height: 90vh;
}

.about__card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 24px;
  margin-bottom: 24px;
}

.about__card {
  height: 80px;
  padding: 8px 6px;
  border-radius: 8px;
  background-color: var(--secondary-background);
}

.about__description {
  margin-bottom: 24px;
}

/* * Skills */

.skills {
  height: 60vh;
}

.skills__card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  margin-bottom: 24px;
}

.skills__card {
  padding: 8px 6px;
  border-radius: 8px;
  background-color: var(--secondary-background);
}

.skills__card-title {
  margin-bottom: 12px;
}

.skills__tecnologies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.skills__tecnologies-container div {
  display: flex;
  align-items: center;
}

.skills__tecnologies {
  margin-left: 4px;
  font-size: 1.4rem;
}

/* * Portfolio  */

.portfolio {
  height: 60vh;
}

.portfolio__img-container {
  margin-bottom: 18px;
}

.portfolio__project-title {
  margin-bottom: 12px;
}

.portfolio__project-description {
  font-size: 1.2rem;
  margin-bottom: 24px;
}

.button--demo {
  height: 32px;
  font-size: 1.2rem;
}

/* * Contact */

.contact {
  height: 48vh;
}

.contact__container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.contact__info-container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 12px;
  align-items: center;
  margin-left: 24px;
}

.contact__info-title {
  font-size: 1.4rem;
}

.contact__info-text {
  font-size: 1.2rem;
}

/** Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  padding-top: 24px;
  background-color: var(--highlight);
  color: var(--main);
}

.footer__list {
  display: flex;
  column-gap: 20px;
  margin-bottom: 36px;
}

.footer__social-media-icon {
  width: 24px;
}