:root {
  --body-font: 'Quicksand', sans-serif;
  --background: #16161a;
  --highlight: #7f5af0;
  --paragraph: #94a1b2;
  --main: #fffffe;
  --secondary: #72757e;
  --tertiary: #2cb67d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 67.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--body-font);
  background-color: var(--background);
  font-size: 1.6rem;
  color: var(--main);
}